{% extends 'base.html' %}
{% load static %}

{% block title %}Green Team - Blog{% endblock %}

{% block heading %}
    <h1 class="heading-blog">Green Team Blog</h1>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for post in blog_posts %}
                <div class="col-md-4 mb-4">
                    <div class="blog-post">
                        <a href="{% url 'blog_detail' post.pk %}">
                            <div class="blog-post-img-container">
                                <img src="{{ post.cover_photo.url }}" alt="Cover Photo" class="blog-post-img">
                            </div>
                        </a>
                       
                        <a href="{% url 'blog_detail' post.pk %}">
                            <h3 class="post-title">{{ post.title }}</h3>
                        <a/>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}